<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Shopie!</title>
  </head>
  <body>
    <h2>Welcome, <%= name %>!</h2>
    <p>Thank you for registering at Shopie. We're excited to have you as part of our community.</p>
    <p>Start shopping and enjoy exclusive deals!</p>
    <p>Best regards,<br/>The Shopie Team</p>
  </body>
</html> 